:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    background-image: url('../assets/cave.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid #4c3737;
    border-radius: 5px;
    margin: 10px;
    background-color: #2f2d2d;
}

.bottom-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.goblins-container,
.fighter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fighter-image {
    width: 400px;
}

.goblin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 100px;
    border: 3px solid #4c3737;
    border-radius: 5px;
    margin: 10px;
    background-color: #2f2d2d;
}

.player-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 3px solid #4c3737;
    border-radius: 5px;
    margin: 10px;
    background-color: #2f2d2d;
}
